---
import Ads from "../../layouts/ads.astro";
const title = "Advertising at <em>The Tech</em>";
---

<Ads title={title}>
  <p>Email sent to <a href="mailto:&quot;tt-ads@mit.edu&quot;"><em>tt-ads@mit.edu</em></a>
  is the fastest way to reach us. </p>
  <p><i>The Tech</i> Business Department's telephone number is 617-258-8324.</p>
  <p>Our mailing address, for checks and other print communication, is </p>
  <address>
    The Tech<br>
    77 Massachusetts Ave<br>
    Bldg W20-483<br>
    Cambridge, MA 02139
  </address>
  <p>
  To reach other departments at <em>The Tech</em>, please see <a href="/about/contact">our general contact page.</a>
</p>
</Ads>
