---
import About from "../../layouts/about.astro";
---

<About title="Comments Policy">
  <p>
    The Tech welcomes reader comments and discussion. Comments are expected to
    remain civil and on-topic; the full moderation policy will be described
    here.
  </p>
</About>
