---
import About from "../../layouts/about.astro";
---

<About title="Contact Us">
  <p>
    The Tech's offices are located in the MIT Student Center, Room W20-483,
    84 Massachusetts Avenue, Cambridge, MA 02139.
  </p>
  <p>
    For general inquiries, news tips, corrections, advertising, and other
    questions, contact information will be listed here.
  </p>
</About>
