---
import About from "../../layouts/about.astro";
---

<About title="Copyright & Distribution">
  <p>
    All content is &copy; The Tech. Reproduction in whole or in part without
    permission is prohibited. Distribution rights and reprint requests will be
    described here.
  </p>
</About>
