---
import About from "../../layouts/about.astro";
---

<About title="Join The Tech">
  <p>
    The Tech is always looking for new writers, editors, photographers,
    illustrators, designers, and developers &mdash; no experience required.
    Information on how to get involved will be listed here.
  </p>
</About>
