---
import About from "../../layouts/about.astro";
---

<About title="Opinion Policy">
  <p>
    Opinion content reflects the views of its authors and not necessarily those
    of The Tech. Editorials represent the official opinion of the newspaper as
    determined by the editorial board.
  </p>
  <p>
    The full opinion and letters policy, including submission guidelines, will
    be described here.
  </p>
</About>
