---
import About from "../../layouts/about.astro";
---

<About title="Publication Schedule">
  <p>
    The Tech publishes online continuously and in print on a regular schedule
    during the academic year. The current print and online publication
    schedule will be listed here.
  </p>
</About>
