---
import About from "../../layouts/about.astro";
---

<About title="Special Projects">
  <p>
    The Tech produces in-depth investigations, data projects, and special
    features beyond daily coverage. Selected special projects will be
    highlighted here.
  </p>
</About>
