---
import About from "../../layouts/about.astro";
---

<About title="Sponsors">
  <p>
    The Tech is grateful to the sponsors and partners who help support
    independent student journalism at MIT. Our sponsors will be acknowledged
    here.
  </p>
</About>
