---
import About from "../../layouts/about.astro";
---

<About title="Our Staff">
  <p>
    The Tech is produced by a volunteer staff of MIT students. The current
    masthead, including the editorial board and department editors, will be
    listed here.
  </p>
</About>
