---
import About from "../../layouts/about.astro";
---

<About title="Subscribe">
  <p>
    Subscribe to The Tech to receive our newsletters and stay up to date with
    campus news. Subscription options and sign-up details will be listed here.
  </p>
</About>
