---
import About from "../../layouts/about.astro";
---

<About title="Support / Donate">
  <p>
    The Tech is a non-profit, editorially independent newspaper run entirely by
    students. Donations help fund our reporting, equipment, and operations.
    Ways to give will be described here.
  </p>
</About>
