---
import About from "../../layouts/about.astro";
---

<About title="Unpublish Policy">
  <p>
    The Tech maintains a public record of its reporting. Requests to unpublish
    or amend previously published content are evaluated case by case; the full
    policy will be described here.
  </p>
</About>
